<div class="board-container">
    <div id="scrabble-board" class="scrabble-board">
        <!-- Board will be rendered -->
    </div>

    <div class="board-legend">
        <div class="legend-item tw">Triple Word</div>
        <div class="legend-item dw">Double Word</div>
        <div class="legend-item tl">Triple Letter</div>
        <div class="legend-item dl">Double Letter</div>
    </div>
</div>