<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
  </head>
  <body>
    <h1>Log In</h1>
    <form action="/login" method="POST">
      <label>Email:</label>
      <input type="email" name="email" required />
      <br />
      <label>Password:</label>
      <input type="password" name="password" required />
      <br />
      <button type="submit">Log In</button>
    </form>
    <p><a href="/">Back to Home</a></p>
  </body>
</html>
