<div class="chat-container">
    <div class="chat-header">
        <h3>Chat</h3>
    </div>

    <div id="chat-messages" class="chat-messages">
        <!-- Messages will be loaded here -->
    </div>

    <form id="chat-form" class="chat-input">
        <label for="chat-message-input"></label><input
                type="text"
                id="chat-message-input"
                placeholder="Type a message..."
                maxlength="500"
                autocomplete="off"
        >
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>